body {
    background-color: #625d81;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.input-project-name {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn-add-contributors {
    width: 100%;
    padding: 10px;
    background-color: #625d81;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
}

.contributors-list {
    margin-bottom: 20px;
}

.contributor-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #e9e9e9;
    margin-bottom: 10px;
    border-radius: 4px;
}

.user-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contributor-info p {
    margin: 0;
}

.remove-btn {
    background: none;
    border: none;
    color: #e74c3c;
    font-size: 18px;
    cursor: pointer;
}

.btn-save {
    width: 20%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 28rem;
}
