* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    background-color: white;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header a {
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container {
    max-width: 600px;
    margin: 50px auto 0px auto;
    padding: 20px;
    background-color: #DACFF8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #65558F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #584880;
}

/* Estilo para os itens da lista */
.backlog-item {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.list-message {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#backlogItemsContainer {
    margin-top: 30px;
}

/* Flex container para os botões */
.button-container {
    display: flex;
    justify-content: flex-start; /* Alinha os botões à esquerda */
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 10px; /* Espaçamento entre as propriedades do item e os botões */
}

/* Estilo do botão de Editar */
.btn-editar {
    background-color: #65558F; /* Cor roxa */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo do botão de Excluir */
.btn-excluir {
    background-color: #C00F0C; /* Cor vermelha */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Efeito hover para os botões */
.btn-editar:hover {
    background-color: #584880; /* Cor mais escura no hover */
}

.btn-excluir:hover {
    background-color: rgb(201, 60, 60); /* Cor mais escura no hover */
}

